.container {
    padding-top: 50px;
}
.recipeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    color: #575957;
    align-items: center;
    min-width: 40%;
    padding-bottom: 50px;
}

.ingredients {

    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    color: #575957;
    font-size: 100%;
    padding-bottom: 50px;
}

.instructions {

    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    color: #575957;
    font-size: 100%;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;

}

.image {
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 400px;
    max-width: 100%;
    padding-top: 50px;
}