.navBar {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    font-weight: bold;
    border-bottom-style: ridge;
    border-bottom-color: lightgray;
    border-bottom-width: thin;
}

.navButtons {
    padding: 20px;
    float: left;
    list-style-type: none;
    display: block;
    color: gray;
}

